=========================

Operating System

=========================

.DS_Store
Thumbs.db

=========================

IntelliJ / Android Studio

=========================

.idea/
*.iml
local.properties
captures/

=========================

Android / Gradle

=========================

.gradle/
**/build/
.cxx/
.externalNativeBuild/

APK / Bundles

*.apk
*.aab
*.ap_

Dex

*.dex

Log files

*.log

=========================

Java / Spring Boot

=========================

target/
out/
bin/

=========================

Node / Next.js

=========================

node_modules/
.next/
dist/
coverage/

Environment Variables

.env
.env.*
!.env.example

=========================

VS Code

=========================

.vscode/

=========================

Mac/Linux

=========================

*.swp
*.swo
*~

=========================

Firebase

=========================

google-services.json
GoogleService-Info.plist

=========================

Keystore

=========================

*.jks
*.keystore

=========================

Temporary

=========================

tmp/
temp/
